[run]
branch = False

[report]
exclude_lines =
    # lines explicitly removed from coverage
    pragma: no cover
    pragma: nocover

    # Don't complain about missing debug-only code:
    def __unicode__
    def __repr__
    def __str__
    if self\.debug
    if self\.verbose
    if __debug__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    assert False( *,.*)?

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    raise NotImplementedError

omit =
    bin/*
    docs/*
    test_resources/*
    tests/*
    venv/*
    */lib/python3.*/site-packages/*

